<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node_demo</title>
</head>
<body>
    <h1>Pipeline demo</h1>
    <h2>Hello everyone I Have successfuly deloyed by first app in AWS </h2>
</body>
</html>